*.swp
*.pyc
*.tar.gz
*.tgz
/dependencies
/virtualenv
/static
/stages/*
!/stages/__init__.py
!/stages/Makefile
!/stages/data.yaml
!/stages/make_stages.py
!/stages/requirements.txt
!/stages/templates
/*.db
/staticfiles/project.html
/staticfiles/ckeditor
/data
/locale/*/LC_MESSAGES/django.mo
/tags
.DS_Store
